mixin services-slider(title, text, img)
    .serices-list.position-relative.slick-no-margin.js-services-slider
        .js-services-slider-list
            .col-12.services-list__item.services-list__item--single
                a(href="/")
                    img(src=img, alt="").img-fluid
                    .services-list__item-title 
                        span.h4.text-uppercase.d-block #{title}
                        span.mt-3.d-block #{text}
            .col-12.services-list__item.services-list__item--single
                a(href="/")
                    img(src=img, alt="").img-fluid
                    .services-list__item-title 
                        span.h4.text-uppercase.d-block #{title}
                        span.mt-3.d-block #{text}
            .col-12.services-list__item.services-list__item--single
                a(href="/")
                    img(src=img, alt="").img-fluid
                    .services-list__item-title 
                        span.h4.text-uppercase.d-block #{title}
                        span.mt-3.d-block #{text}
        .slick-arrows-block.slick-arrows-block__center
            .slick-arrow.arrow-prev.js-services-arrow-prev
                svg 
                    use(xlink:href="assets/stack/sprite.svg#arrow")
            .slick-arrow.arrow-next.js-services-arrow-next
                svg 
                    use(xlink:href="assets/stack/sprite.svg#arrow")